@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
* {
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

body {
  margin: 0;
  box-sizing: border-box;
  color: #242424;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1.4px; }

h1, h2, h3 {
  font-weight: 900 !important;
  text-transform: uppercase; }

h1 {
  font-size: 15px; }

h2 {
  font-size: 21px;
  padding: 10% 0 0 10%; }

h3 {
  font-size: 12px; }

p {
  font-size: 14px; }

.separator {
  height: 4px;
  border-radius: 2px;
  background: #242424;
  width: 80px;
  margin: 25px 0;
  margin-left: 10%;
  margin-bottom: 10%; }

.section_animation {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

body section {
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }

.line {
  background-color: #242424;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  opacity: 0.1; }

.line-1 {
  left: 25%; }

.line-2 {
  left: 50%; }

.line-3 {
  left: 75%; }

.letter_A, .letter_P, .letter_S {
  position: absolute;
  width: 550px;
  height: 550px;
  opacity: .7;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  bottom: 50px;
  right: 15%;
  -webkit-animation: resizing 10s linear infinite alternate;
  animation: resizing 10s linear infinite alternate; }

@-webkit-keyframes resizing {
  from {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@media (min-width: 768px) {
  p {
    line-height: 2; }
  h3 {
    padding: 20px; } }

@media (min-width: 1200px) {
  h2 {
    padding: 5% 0 0 30%; }
  .separator {
    margin-left: 30%;
    margin-bottom: 5%; } }

.nav-mobile-btn-bar {
  width: 100%;
  height: 42px;
  text-align: right;
  position: fixed;
  top: 0;
  z-index: 2; }
  .nav-mobile-btn-bar.clicked {
    background-color: #fff; }

.nav-mobile-btn {
  width: 42px;
  height: 42px;
  padding: 7px 8px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none; }

.icon-bar {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #d7123d; }

.icon-bar + .icon-bar {
  margin-top: 4px; }

ul {
  margin: 0; }
  ul li {
    list-style: none;
    padding: 7px 14px; }
    ul li a {
      text-decoration: none;
      width: 100%;
      display: inline-block;
      color: #1f1f1f;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 900 !important; }

.nav-menu {
  position: fixed;
  width: 100%;
  transition: opacity 0.1s, transform 0.3s;
  transform: translateY(-42px);
  top: 42px;
  background-color: white;
  opacity: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); }
  .nav-menu ul {
    padding: 0; }
  .nav-menu.clicked {
    transform: translateY(0);
    transition: opacity 0.1s, transform 0.3s;
    opacity: 1;
    z-index: 1; }

@media (min-width: 1200px) {
  .nav-mobile-btn-bar {
    display: none; }
  .nav-menu {
    opacity: 1;
    width: 100%;
    text-align: center;
    z-index: 1;
    top: 0;
    box-shadow: none;
    transform: translateY(0);
    transition: none;
    background-color: inherit; }
  .shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff; }
  ul {
    display: inline-block; }
    ul li {
      display: inline-block;
      padding: 30px 20px; }
      ul li a {
        position: relative; }
        ul li a:before {
          transition: all 350ms;
          -webkit-transition: all 350ms;
          -moz-transition: all 350ms;
          -o-transition: all 350ms;
          height: 2px;
          width: 70%;
          left: 15%;
          bottom: -10px;
          background-color: #242424;
          display: block;
          content: "";
          position: absolute;
          opacity: 0;
          transform-origin: left center;
          transform: scaleX(0); }
        ul li a:hover::before {
          transform: scaleX(1);
          opacity: 1; } }

.slogan {
  height: 100vh;
  text-align: center;
  position: relative;
  opacity: 1;
  transform: translateY(0); }
  .slogan .line {
    display: none; }

.slogan-content {
  position: absolute;
  top: 20%;
  transform: translate(0, -20%); }

.name {
  padding: 50px 0 42px 0; }

.about {
  padding: 0 15%; }
  .about .separator {
    margin-left: 50%;
    transform: translate(-50%, 0); }

.side-header, .get-in-touch, .letter_A {
  display: none; }

@media (min-width: 1200px) {
  .slogan .line {
    display: block; }
  .about {
    padding: 0 30%; }
  .slogan-content {
    top: 35%;
    transform: translate(0, -35%); }
  .get-in-touch {
    position: absolute;
    display: flex;
    top: 35%;
    right: 20px;
    z-index: 10;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .get-in-touch i {
      color: #303030;
      font-size: 18px;
      padding: 5px; }
      .get-in-touch i:hover {
        color: #d7123d; }
  .letter_A {
    display: block;
    background-image: url("../images/letter_A.png"); }
  .side-header {
    display: block;
    color: #d7d7d7;
    font-size: 12px;
    font-weight: 900 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    left: 22%; }
    .side-header::before {
      background-color: #242424;
      content: "";
      display: inline-block;
      height: 2px;
      position: relative;
      vertical-align: middle;
      width: 50px;
      right: 5px; }
    .side-header::after {
      background-color: #242424;
      content: "";
      display: inline-block;
      height: 2px;
      position: relative;
      vertical-align: middle;
      width: 50px;
      left: 5px; } }

.projects {
  background-color: #303030;
  color: #d7123d; }
  .projects .line, .projects .mySlides, .projects .letter_P {
    display: none; }
  .projects .separator {
    background: #d7123d; }

.slideshow-container {
  position: relative; }
  .slideshow-container img {
    padding: 0 10%;
    width: 100%;
    vertical-align: middle;
    filter: grayscale(100%); }

.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 30px;
  -webkit-animation: move linear 1.5s infinite alternate;
  animation: move linear 1.5s infinite alternate; }

@-webkit-keyframes move {
  from {
    -webkit-transform-padding-left: 0;
    padding-left: 0; }
  to {
    -webkit-transform-padding-left: 20px;
    padding-left: 20px; } }

.text {
  font-size: 14px;
  padding: 30px 10%;
  line-height: 21px; }

.numbertext {
  font-size: 56px;
  font-weight: 900 !important; }

.control-buttons {
  padding: 20px 10% 10%; }
  .control-buttons span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900 !important; }

/* Fading animation */
.fade {
  margin: 0 auto;
  max-width: 600px;
  -webkit-animation: slide 1s forwards;
  animation: slide 1s forwards; }

@-webkit-keyframes slide {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@media (min-width: 1200px) {
  .projects {
    margin: 0; }
    .projects .line {
      display: block;
      background-color: #fff; }
    .projects .side-header {
      top: 40%; }
      .projects .side-header::before {
        background-color: #fff; }
      .projects .side-header::after {
        background-color: #fff; }
    .projects .letter_P {
      left: 15%;
      display: block;
      background-image: url("../images/letter_P.png"); }
  .slideshow-container img {
    box-shadow: 0 14px 48px 0 rgba(0, 0, 0, 0.3), 0 16px 40px 0 rgba(0, 0, 0, 0.3);
    padding: 0;
    -webkit-transition: filter .5s;
    transition: filter .5s; }
    .slideshow-container img:hover {
      filter: none; }
  .text {
    padding: 30px 0; }
  .control-buttons {
    padding: 30px 0 80px;
    max-width: 600px;
    margin: 0 auto; }
  .prev:hover, .next:hover {
    color: #fff; } }

@media (min-width: 576px) and (max-width: 1199px) {
  .text {
    padding: 30px 60px; }
  .control-buttons {
    padding: 50px 60px 10%;
    max-width: 600px;
    margin: 0 auto; } }

.knowledge .line, .knowledge .letter_S {
  display: none; }

.skills-description p {
  padding: 0 10% 10%; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card-container {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  perspective: 1000px; }

.box {
  width: 80%; }

.card .front, .card .back {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 640px;
  max-height: 480px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 1s ease-out; }

.card .front {
  transform: rotateY(-180deg);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.card .back {
  width: 100%;
  transform: rotateY(0deg);
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .card .back p {
    padding: 5%;
    line-height: 1.4;
    font-size: 12px; }
    .card .back p span {
      font-weight: 900 !important;
      color: #d7123d; }
  .card .back ul {
    padding: 0;
    display: block;
    text-align: center; }
    .card .back ul li {
      font-weight: 900 !important;
      color: #d7123d;
      padding: 0;
      display: block;
      font-size: 13px; }

.card.not-flipped .front {
  transform: rotateY(0deg); }

.card.not-flipped .back {
  transform: rotateY(180deg); }

.technology i {
  color: #d7123d;
  font-size: 56px;
  text-align: center; }

.technology .fa-paint-brush {
  font-size: 42px;
  padding-top: 14px; }

@media (min-width: 1200px) {
  .knowledge {
    padding-bottom: 10%; }
    .knowledge .line {
      display: block; }
    .knowledge .side-header {
      top: 40%; }
    .knowledge .letter_S {
      display: block;
      background-image: url("../images/letter_S.png"); }
  .skills-description p {
    padding: 0 30% 5%; }
  .box {
    width: 15%; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .box {
    width: 25%; } }

@media (min-width: 576px) and (max-width: 768px) {
  .box {
    width: 40%; } }

.contact-info {
  margin-top: 10%;
  background: linear-gradient(-120deg, #d71264, #d7123d); }
  .contact-info .separator {
    background: #fff; }
  .contact-info .line {
    display: none; }
  .contact-info h2 {
    color: #fff; }

.social-media {
  padding-bottom: 15%;
  text-align: center; }
  .social-media i {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background-color: #fff;
    color: #303030;
    line-height: 40px;
    font-size: 21px;
    transition: .5s; }

a:-webkit-any-link {
  text-decoration: none; }

@media (min-width: 1200px) {
  .contact-info {
    margin: 0; }
    .contact-info .line {
      display: block;
      background-color: #fff; }
    .contact-info .side-header {
      top: 20%; }
      .contact-info .side-header::before {
        background-color: #fff; }
      .contact-info .side-header::after {
        background-color: #fff; }
  .social-media {
    padding-bottom: 7%; }
  i:hover {
    border-radius: 50%;
    color: #d7123d; } }

footer {
  background-color: #303030;
  color: #fff;
  text-align: center; }
  footer p {
    font-size: 11px;
    padding: 10px;
    border-top: rgba(255, 255, 255, 0.1) solid 1px; }

/*# sourceMappingURL=style.css.map */